name: Deploy Vue ToDo Website

on:
  push:
    branches:
      - '*'

jobs:
    deploy:
      runs-on: ubuntu-latest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
  
      steps:
        - name: Get branch name
          run: |
            branch_fullname=${{ github.ref }}
            branch_name=${branch_fullname#refs/heads/}
            echo "BRANCH_NAME=$branch_name" >> $GITHUB_ENV

        - name: Checkout Repository
          uses: actions/checkout@v3
  
        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:
            node-version: 18
  
        - name: Deploy CDK Infrastructure
          run: |
            cd backend
            npm ci
            npx cdk deploy --require-approval never -O cdk-output.json
            echo "VITE_API_URL=$(cat cdk-output.json | grep -oP 'https://\S+execute-api\S+amazonaws\.com/prod/')" > ../frontend/.env
            echo "BUCKET_NAME=$(cat cdk-output.json | grep -oP '\S+websiteresourcebuildings3hostingbuck\S+' | sed 's/"//g')" >> $GITHUB_ENV
  
        - name: Build Frontend
          run: |
            cd frontend
            npm ci
            npm run build

        - name: Upload built website to S3
          run: aws s3 sync frontend/dist s3://${BUCKET_NAME}/ --delete --exact-timestamps