name: Deploy Vue ToDo Website

on:
  push:
    branches:
      - main

jobs:
    deploy:
      runs-on: ubuntu-latest
  
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v3
  
        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:
            node-version: 18

        - name: Build Frontend
          run: |
            cd frontend
            npm ci
            npm run build
  
        - name: Deploy CDK Infrastructure
          env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_REGION: eu-west-1
          run: |
            echo pwd
            # cd ../cdk
            # npm ci
            # npx cdk deploy --require-approval never
  